@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lexend", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: radial-gradient(ellipse 75% 75%, #c6d0bc, #9ab380, #9ab380);
}

.get-started-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.004),
    rgba(255, 255, 255, 0.25)
  );
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 8px 50px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  color: black;
  transition: all 0.3s ease-in-out;
}

.get-started-btn:hover {
  background: rgba(255, 255, 255, 0.4);
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .get-started-btn {
    font-size: 0.9rem;
    padding: 6px 40px;
  }
}

.mesh-gradient {
  background-color: #8df322;
  background-image: radial-gradient(at 30% 20%, #c0ff7f 10%, transparent 50%),
    radial-gradient(at 70% 80%, #7bd41f 20%, transparent 60%),
    radial-gradient(at 60% 30%, #b8d799 15%, transparent 55%),
    radial-gradient(at 10% 90%, #9ab380 25%, transparent 50%),
    radial-gradient(at 90% 40%, #9fd269 20%, transparent 60%);
}

.home-btn {
  @apply flex items-center justify-center backdrop-blur-[30px] shadow-[0_0_10px_rgba(0,0,0,0.50)] text-[1.2rem] font-semibold text-[black] transition-all duration-[0.3s] ease-[ease-in-out] shadow-[0_4px_8px_rgba(0,0,0,0.2)] px-7 py-3.5 rounded-2xl border-2 border-solid border-[rgba(255,255,255,0.2)];
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.25)
  );
  -webkit-backdrop-filter: blur(30px);
}

.home-btn:hover {
  @apply scale-105;
  background: rgba(255, 255, 255, 0.551);
}

.wrapper {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.25)
  );
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #ffff;
}

.custom-form input,
.custom-form select,
.custom-form option {
  @apply w-full border p-2.5 rounded-md border-solid border-[rgba(0,0,0,0.2)];
  background: rgba(255, 255, 255, 0.9);
  outline: none;
}
