@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:wght@400;600;700&display=swap');

*{
    font-family: Lexend;
}

body {
  font-family: 'Lexend', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse 75% 75%, #c6d0bc, #9ab380, #9ab380); 
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.wrapper{
    width: 420px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25));
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .50);
    color: #ffff;
    padding: 35px 25px 80px;
    border-radius: 24px;
}

.logo-container {
    display: flex;
    align-items: center; 
    gap: 10px;
    margin-bottom: 45px;
}

.logo-image{
    margin-bottom: 10px;
}

.logo-text{
    font-size: 16px;
    color: #000;
}

.wrapper h1{
    font-size: 40px;
    font-weight: 500;
    text-align: left; 
    color: #000;
}

.wrapper p{
    font-size: 11px;
    color: rgba(0,0,0,0.45);
    padding-left: 6px;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: #ffffff;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    margin-top: 10px;
    border-radius: 12px;
    font-size: 16px;
    color: #000;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: rgba(0, 0, 0, .5);
}

.input-box .icon{
    position: absolute;
    right: 20px;
    top: 70%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #000;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: #ffff;
    margin-right: 4px;  
}

.wrapper button{
    width: 100%;
    height: 45px; 
    background: #668743;
    border: none;
    outline: none;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #ffff;
    font-weight: 450;
    margin-top: 10px;
}

.wrapper button:hover{
    background: #345216;
}

.wrapper .forgot-password{
    font-size: 14.5px;
    text-align: center;
    padding-top: 5px;
}

.forgot-password a{
    color: #000;
    font-weight: 400;
    text-decoration: none;
}

.forgot-password a:hover{
    font-weight: bold;
}

.bigc-logo-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  